<div class="card">

    <div class="card-header">
      Serviço Cadastrados
    </div>
  
    <div class="card-body">
  
      <form #form="ngForm">
  
        <table class="table table-hover">

            <thead>
                <tr>
                    <td class="font-weight-bold">ID</td>
                    <td class="font-weight-bold">Serviço</td>
                    <td class="font-weight-bold">Ações</td>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let servico of listaRecebida">
                    <td>{{servico.id}}</td>
                    <td>{{servico.nomeServico}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin-right: 2%;">Editar</button>
                        <button class="btn btn-danger">Excluir</button>

                        <button class="btn btn-default" style="margin-right: 2%;">
                          <i class="fab fa-accessible-icon"></i>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>
  
      </form>
    
    </div>
  </div>
  