<div class="card">

    <div class="card-header">
      Serviço Cadastrados
    </div>
  
    <div class="card-body">
  
      <form #form="ngForm">
  
        <table class="table table-hover" style="text-align: center;" *ngIf="listaRecebida.length >= 0">

            <thead>
              
                <tr>
                    <th scope="col" class="font-weight-bold" style="width: 100px;">ID</th>               
                    <th scope="col" class="font-weight-bold" style="width: 250px;">Serviço</th>
                    <th scope="col" class="font-weight-bold" style="width: 100px;">Ações</th>
                </tr>
              
            </thead>

            <tbody>

                <tr *ngFor="let servico of listaRecebida">
                    <td>{{servico.id}}</td>
                    
                    <td>{{servico.nomeServico}}</td>
                    
                    <td >
                        <button class="btn btn-primary" 
                                style="margin-right: 2%;"
                                routerLink="editar/{{servico.id}}">Editar</button>
                        <button class="btn btn-danger">Excluir</button>

                        <button class="btn btn-default" style="margin-right: 2%;">
                          <i class="fab fa-accessible-icon"></i>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>

        <div *ngIf="listaRecebida.length == 0">
            <span>Nenhum serviço encontrado.</span>
        </div>
      </form>
    
    </div>
  </div>
  