<div class="card">

    <div class="card-header">
      Serviço Cadastrados
    </div>
  
    <div class="card-body">
  
      <form #form="ngForm">
  
        <table class="table table-hover" style="text-align: center;" *ngIf="listaRecebida; semServico">

            <thead>
              
                <tr>
                    <th scope="col" class="font-weight-bold" style="width: 100px;">ID</th>               
                    <th scope="col" class="font-weight-bold" style="width: 250px;">Serviço</th>
                    <th scope="col" class="font-weight-bold" style="width: 100px;">Ações</th>
                </tr>
              
            </thead>

            <tbody>

                <tr *ngFor="let servico of listaRecebida">
                    <td>{{servico.id}}</td>
                    
                    <td>{{servico.nomeServico}}</td>
                    
                    <td >
                        <button class="btn btn-primary" 
                                style="margin-right: 2%;"
                                (click)="obterId(servico.id)">Editar</button>


                        <button class="btn btn-danger"
                                style="margin-right: 2%;"
                                (click)="obterIdDeletar(servico.id)">Excluir</button>
                    </td>
                </tr>

            </tbody>

        </table>

        <template #semServico>
            <span>Nenhum serviço encontrado.</span>
        </template>
      </form>
    
    </div>
  </div>

    <ng-template #modalDelete>

      <div class="modal-header">
        <h4 class="modal-title pull-center">Confirmação</h4>
      </div>

      <div class="modal-body text-center">
        <p>Deseja realmente deletar esse serviço?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
      </div>
    </ng-template>

  