<section>

    <div class="titulo">
        <h4 style="margin-top:10px;">Novo Serviço Realizado</h4>
    </div>

    <app-alerta-erro></app-alerta-erro>

    <div class="card">

        <div class="card-header">
          Serviço
        </div>

        <div class="card-body">

            <form #form="ngForm" (ngSubmit)="salvarServicoRealizado(servicoRealizado); form.reset()">

                <div class="form-group">

                    <input  class="form-control"
                    type="hidden"
                    id="id"
                    name="id"
                    [(ngModel)]="servicoRealizado.id">

                </div>

                <div class="form-group">

                    <label for="nomeCliente">Cliente*</label>

                    <input  class="form-control col-12"
                            id="nomeCliente"
                            list="listaCliente"
                            name="cliente"
                            #nomeCliente="ngModel"
                            [(ngModel)]="servicoRealizado.nomeCliente"
                            placeholder="Clique para selecionar um cliente"
                            required >

                    <datalist id="listaCliente">
                            <option *ngFor="let cliente of clientes" value="{{cliente.nome}}">{{cliente.contato.celular}}</option>
                    </datalist>

                        <div *ngIf="nomeCliente.invalid && nomeCliente.touched">
                            <span>Campo obrigatório.</span>
                        </div>

                  </div>

                  <div class="form-row" style="margin-top: 3%;">

                        <div class="form-group col-md-6">

                            <label for="servico">Serviço</label>

                            <input  class="form-control"
                                    id="servico"
                                    list="listaServico"
                                    name="servicoRealizado"
                                    [(ngModel)]="servicoRealizado.nomeServico"
                                    placeholder="Clique para selecionar um serviço"
                                    #servico="ngModel"
                                    required>

                                <datalist id="listaServico">
                                    <option *ngFor="let servico of servicos" value="{{servico.nomeServico}}" ></option>
                                </datalist>

                            <div *ngIf="servico.invalid && servico.touched">
                                <span>Campo obrigatório.</span>
                            </div>

                        </div>

                        <div class="form-group col-md-3">
                            <label for="valorServico">Valor do Serviço</label>
                            <input type="number"
                                   step="any"
                                   min="0"
                                   class="form-control"
                                   id="valorServico"
                                   name="servicoValor"
                                   #valorServico="ngModel"
                                   [(ngModel)]="servicoRealizado.valorServico"
                                   placeholder="0.00"
                                   required>

                                <div *ngIf="valorServico.invalid && valorServico.touched">
                                    <span>Campo obrigatório.</span>
                                </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="data">Data de realização do serviço</label>
                            <input type="date"
                                   class="form-control"
                                   id="data"
                                   name="data"
                                   #dataServico="ngModel"
                                   [(ngModel)]="servicoRealizado.dataServico"
                                   required>

                                <div *ngIf="dataServico.invalid && dataServico.touched">
                                    <span>Campo obrigatório.</span>
                                </div>
                        </div>

                </div>

                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="form.invalid"
                            style="margin-top: 31px;">
                        Salvar
                    </button>

            </form>

        </div>

      </div>

      <app-modal-alerta-sucesso></app-modal-alerta-sucesso>


</section>
