<nav class="menu">

  <div class="dropdown">
    <button class="dropbtn">Cliente</button>
    <div class="dropdown-content">
      <a routerLink="cliente/novo">Novo Cliente</a>
    <a routerLink="cliente/lista">Listar Clientes</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Servico</button>
    <div class="dropdown-content">
      <a routerLink="servico/novo">Novo Serviço</a>
      <a routerLink="servico-realizado/novo">Novo Serviço Realizado</a>
      <a routerLink="lista-servicos-realizados">Consultar Serviços Realizados</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Agendamento</button>
    <div class="dropdown-content">
      <a routerLink="agendamento/novo">Agendar Cliente</a>
      <a routerLink="agendas-cadastradas">Clientes Agendados</a>
    </div>
  </div>


</nav>
