<h4 class="titulo">Consultar Agenda</h4>

<app-alerta-sucesso></app-alerta-sucesso>
<app-alerta-erro></app-alerta-erro>
<app-modal-alerta-sucesso></app-modal-alerta-sucesso>

<form #form="ngForm" (ngSubmit)="consultarAgendasPorData(agendamento); form.reset()">


<div class="card ml-4 mr-4">

    <div class="card-header">
      Consultar Agenda
    </div>
  
    <div class="card-body">
        

            <div class="form-group">
                <label for="data">Data do agendamento</label>
                <input type="date" class="form-control" id="data" name="data" [(ngModel)]="agendamento.dataAgendamento">
              </div>

              <button class="btn btn-primary">Consultar</button>
  
    </div>

  </div>

</form>

  <div class="card ml-4 mr-4 mt-4">

    <div class="card-header">
        Clientes Agendados para:<span class="ml-2" style="font-weight: bold;">{{dataCard}}</span>
      </div>

  
    <div class="card-body">
  
        <div class="card shadow-sm bg-white rounded mb-2" *ngFor="let agenda of agendasCadastradas ">

            <div class="card-body row text-center">
              
                <div class="col-2">
                    {{agenda.inicio}} às
                    {{agenda.fim}}
                </div>

                <div class="col-3">
                    {{agenda.cliente}}
                </div>

                <div class="col-1">
                  R$: {{agenda.valorServico}}
               </div>

                <div class="col-3">
                    {{agenda.observacao}}
                </div>

                <div class="col-1" [ngSwitch]="agenda.status" >
                  
                    <button *ngSwitchCase="'Pendente'" class="btn btn-warning text-light" (click)="abrirModalStatus(agenda)">
                        <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </button>

                    <button *ngSwitchCase="'Realizado'" class="btn btn-success text-light" (click)="abrirModalStatus(agenda)">
                      <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </button>
                
                    <button *ngSwitchCase="'Cancelado'" class="btn btn-danger text-light" (click)="abrirModalStatus(agenda)">
                       <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </button>

                </div>

                <div class="col-2">
                    <button class="btn btn-primary mr-2" (click)="capturarId(agenda.id)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" (click)="abrirModalDeletar(agenda)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>


            </div>

          </div>

          <div *ngIf="agendasCadastradas.length <= 0">
            <span>Nenhuma agenda encontrada.</span> 
          </div>
  
    </div>


  </div>



<ng-template #modalStatus>

  <div class="modal-header background-modal-status">
    <h4 class="modal-title">Confirmação</h4>
  </div>

  <div class="modal-body pb-5">
    
    <form #form="ngForm" (ngSubmit)="editarStatusAgenda(agendamento); form.reset()">

      <div class="form-group">
        <label for="status">Status</label>
          <select class="form-control" id="status" name="status" [(ngModel)]="agendamento.status">
            <option value="" disabled selected>Selecione...</option>
            <option *ngFor="let status of listaStatus" >{{status.nomeStatus}}</option>
          </select>
      </div>

    

    <div class="text-center">
      <button type="button" class="btn btn-default" style="margin-top: 5%;" type="submit">Sim</button>
      <button type="button" class="btn btn-primary" style="margin-top: 5%;" (click)="fecharModalStatus()">Não</button>
    </div>

  </form>

  </div>
</ng-template>

<ng-template #modalDeletar>

  <div class="modal-header bg-danger " style="display: flex; justify-content: center;">
    <h4 class="modal-title text-light"  >Confirmação</h4>
  </div>

  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar esse cliente?</p>
    <button type="button" class="btn btn-default" (click)="confirmarExclusao()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="fechar()">Não</button>
  </div>
</ng-template>   