<h4 class="titulo">Clientes</h4>

<app-mensagem-sucesso></app-mensagem-sucesso>
<app-mensagem-erro></app-mensagem-erro>

<section class="row mx-0">


        <div class="col-{{tamanhoGridClientes}} bloco pl-0 pr-{{paddindGrid}}">

          <div class="card" style="margin-left: 2%;" >

              <div class="card-header">
                Clientes Cadastrados
              </div>

              <div class="card-body">

                  <table class="table table-hover" style="text-align: center;" *ngIf="clientes.length > 0">

                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nome</th>
                              <th>Celular</th>
                              <th style="width: 10%;">Informações Complementares</th>
                              <th>Ações</th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr *ngFor="let cliente of clientes" >
                              <td>{{cliente.id}}</td>
                              <td>{{cliente.nome}}</td>
                              <td>{{cliente.contato.celular}}</td>
                              <td><button type="button" class="btn btn-link" (click)="habilitarBlocoInformacoes(cliente.id)">Visualizar</button></td>
                              <td>

                                  <button class=" btn btn-primary" style="margin-right: 2%;" (click)="redirecionarClienteEdicao(cliente)">
                                    Editar
                                  </button>

                                  <button class="btn btn-danger" style="margin-right: 2%;" (click)="abrirModal(cliente.id)">
                                    Excluir
                                  </button>
                              </td>

                          </tr>
                      </tbody>

                  </table>

                  <div *ngIf="clientes.length <= 0">
                      Nenhum cliente encontrado
                  </div>

              </div>

          </div>

        </div>

        <div class="col-3 pl-0 " *ngIf="infoComplementaresHabilitado"  >

          <div class="card">

            <div class="card-header">
              Informações Complementares
            </div>

            <div class="card-body">

              <p class="card-text"><span style="font-weight: bold;">Telefone Comencial: </span>{{cliente.contato.telefoneComercial}}</p>

              <p class="card-text"><span style="font-weight: bold;">E-mail: </span>{{cliente.contato.email}}</p>

              <p class="card-text"><span style="font-weight: bold;">Informações Adicionais: </span>{{cliente.contato.outrasInformacoes}}</p>

            </div>
          </div>

        </div>

        <ng-template #modalDeletar>

          <div class="modal-header bg-danger " style="display: flex; justify-content: center;">
            <h4 class="modal-title text-light"  >Confirmação</h4>
          </div>

          <div class="modal-body text-center">
            <p>Tem certeza que deseja deletar esse cliente?</p>
            <button type="button" class="btn btn-default" (click)="confirmarcao()">Sim</button>
            <button type="button" class="btn btn-primary" (click)="fecharModalDeletar()">Não</button>
          </div>
        </ng-template>       

</section>

