<section>

  <div class="row div-row-novo-cliente">

    <div class="col-10" style="padding-left: 0;">
      <h4 style="margin-top:10px;">Novo Cliente</h4>
    </div>

    <app-alerta-sucesso></app-alerta-sucesso>
    <app-alerta-erro></app-alerta-erro>

    <div class="col-2" style="padding-right: 0;">
      <button class="btn btn-dafault" style="width: 100%;" (click)="redirecionarParaListaCliente()">Listar
        clientes</button>
    </div>

  </div>

  <div class="card">

    <div class="card-header">
      Dados do Cliente
    </div>

    <div class="card-body">

      <form #form="ngForm" (ngSubmit)="salvarCliente(cliente); form.reset()">

        <input type="hidden" class="form-control" name="id" [(ngModel)]="cliente.id">

        <div class="form-group">
          <label for="nome">Nome<span style="color: #FF0000;">*</span></label>
          <input type="text" class="form-control" id="nome" name="nome" #nome="ngModel" [(ngModel)]="cliente.nome"
            placeholder="Informe o nome do cliente" required maxlength="100">

          <div *ngIf="nome.invalid && nome.touched">
            <p>Campo obrigatório</p>
          </div>
        </div>



        <h4 style="margin-bottom: 2%;">Contatos</h4>

        <div ngModelGroup="contato" class="form-row">

          <div class="form-group col-md-3">
            <label for="celular">Celular<span style="color: #FF0000;">*</span></label>
            <input type="text" class="form-control" id="celular" name="celular" #celular="ngModel"
              [(ngModel)]="cliente.contato.celular" mask="(00) 0 0000-0000"  placeholder="(00) 0 0000-0000" required>

            <div *ngIf="celular.invalid && celular.touched">
              <p>Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="telefoneComercial">Telefone Comercial</label>
            <input type="text" class="form-control" id="telefoneComercial" name="telefoneComercial"
              [(ngModel)]="cliente.contato.telefoneComercial" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
          </div>

          <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.contato.email"
              placeholder="cliente@contato.com">
          </div>

          <div class="form-group col-md-12">
            <label for="outrasInformacoes">Outras Informações</label>
            <textarea class="form-control" id="outrasInformacoes" name="outrasInformacoes"
              [(ngModel)]="cliente.contato.outrasInformacoes" rows="3"></textarea>
          </div>

        </div>

        <button class="btn btn-primary" [disabled]="form.invalid">Salvar</button>

        <!--{{form.value | json}}-->


      </form>

    </div>

  </div>

</section>

<app-modal-alerta-sucesso></app-modal-alerta-sucesso>