.card{
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .botao-lista-clientes{
      width: 10%;
      margin-top:2%;
  }

  .div-row-novo-cliente{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .ng-invalid.ng-touched{
    border-color: #FF6666;
  }

  .ng-invalid.ng-touched p{
    color: #FF6666;
  }
