<section>

<h4 class="titulo">Novo Serviço</h4>

<!-- Chamada dos componentes de mensagens-->
<app-mensagem-sucesso></app-mensagem-sucesso>
<app-mensagem-erro></app-mensagem-erro>


<div class="card">

  <div class="card-header">
    Serviços
  </div>

  <div class="card-body">

    <form #form="ngForm" (ngSubmit)="onSubmit(servico); form.reset()">
      
      <input type="hidden" name="id" [(ngModel)]="servico.id" >

      <div class="form-group">
        <label for="nomeServico" label-control>Nome do Serviço</label>
        <input type="text" class="form-control"
                           id="nomeServico" 
                           name="nomeServico" 
                           #nome="ngModel"
                           [(ngModel)]="servico.nomeServico" 
                           placeholder="Insira um serviço"
                           required
                           minlength="5"
                           maxlength="80">
      </div>

      <div *ngIf="nome.invalid && (nome.touched || nome.dirty)" style="margin-bottom: 1%;" class="alert alert-danger">
          <span>Campo Obrigatório.</span>
      </div>

      <div *ngIf="nome.invalid && nome.errors.minlength && nome.touched" style="margin-bottom: 1%;" class="alert alert-danger">
        <span>Quantidade de caracteres insuficiente.</span>
    </div>

    <div *ngIf="nome.invalid && nome.errors.maxlength" style="margin-bottom: 1%;" class="alert alert-danger">
      <span>Quantidade de caracteres Excedido.</span>
    </div>

      <button type="submit" class="btn" [disabled]="form.invalid" style="background-color: #FF6666; color: #FFF;">Salvar</button>

    </form>
  
  </div>
</div>

<app-lista-servicos [listaRecebida]="servicos"></app-lista-servicos>

</section>

<!--Chama o componente de modal para mensagem de sucesso-->
<app-modal-mensagem-sucesso></app-modal-mensagem-sucesso>